<%+header%>
<%
	local uci = require "luci.model.uci".cursor()
	local olduser = luci.util.trim(luci.util.exec("cat /etc/webpasswd | awk -F \":\" '{ print $1 }'"))
	local DefUser = luci.util.trim(luci.util.exec("cat /rom/etc/webpasswd | awk -F \":\" '{ print $1 }'"))
	--local DefPasswd = luci.util.trim(luci.util.exec("cat /rom/etc/webpasswd | awk -F \":\" '{ print $2 }'"))

%>
<script>document.getElementById('menu_right_style').style.display = "none";
$("#maincontent").removeClass();
function changeInputType(field)
{
	var pw_value = document.getElementById(field).value;
	if(document.getElementById(field).type == 'password')
	  	$("#"+field+"").replaceWith("<input type=text maxlength='32' name="+field+" id="+field+" style='height:27px;'>");
	else
		$("#"+field+"").replaceWith("<input type=password maxlength='32' name="+field+" id="+field+" style='height:27px;'>");
	document.getElementById(field).value = pw_value;
}
function savechanges(value)
{
	var szRet = "";
	var admin_pw1 = document.getElementsByName("admin_pw1")[0].value;
	var admin_pw2 = document.getElementsByName("admin_pw2")[0].value;
<% if uci:get('functionlist','functionlist','SUPPORT_IPCAM') == "1" then %>
	var guest_pw1 = document.getElementsByName("guest_pw1")[0].value;
	var guest_pw2 = document.getElementsByName("guest_pw2")[0].value;
<% else %>
	var admin_usr = document.getElementsByName("admin_usr")[0].value;
<% end %>

	if (value=="1")
	{
<% if uci:get('functionlist','functionlist','SUPPORT_IPCAM') == "1" then %>
		if ((validatePW(admin_pw1,"admin")) ||(checkPW1PW2(admin_pw1, admin_pw2, szRet)))
		{
			return false;
		}
		if ((validatePW(guest_pw1,"guest")) ||(checkPW1PW2(guest_pw1, guest_pw2, szRet)))
		{
			return false;
		}
<% else %>
	<% if uci:get("functionlist","functionlist","NOT_SUPPORT_MODIFY_USERNAME") == "1" then %>
		if ((validatePW3(admin_pw1, "admin")) ||(checkPW1PW2(admin_pw1, admin_pw2, szRet)))
		{
			return false;
		}
	<% else %>
		// Let user can modify username
		//if ((validateUsrPW(admin_pw1, "admin_usr")) ||(checkPW1PW2(admin_pw1, admin_pw2, szRet)))
		// Disable username part
		if ((validatePW2(admin_pw1)) ||(checkPW1PW2(admin_pw1, admin_pw2, szRet)))
		{
			return false;
		}
	<% end %>
<% end %>
	}

	alert("<%:Password changed successfully.%>");

	document.getElementsByName("submitType")[0].value = value;
	isprotecting();
	ajax_setCsrf();

	return true;

}
function validateUsrPW(pw, user)
{
	var iRet = 0;
	if ("" == user)
	{
		messageInfo();
		iRet = 1;
	}
	else if (user.length < 3 || user.length > 12)
	{
		messageInfo();
		iRet = 1;
	}

	if ("" == pw)
	{
		messageInfo();
		iRet = 1;
	}
	else if (pw.length < 3 || pw.length > 12)
	{
		messageInfo();
		iRet = 1;
	}

	if(checkDefPasswd(pw) && user=="<%=DefUser%>")
	{
		messageInfo();
		iRet = 1;
	}

	return iRet;
}
function validatePW3(pw, user)
{
	var iRet = 0;
	if ("" == pw)
	{
		alert("<%:Please enter the new password!%>");
		iRet = 1;
	}
	else if (pw.length < 3 || pw.length > 12)
	{
		alert("<%:Invalid password!%>");
		iRet = 1;
	}

	if(checkDefPasswd(pw))
	{
		alert("<%:Cannot set default password!%>");
		iRet = 1;
	}

	return iRet;
}
/*function validatePW2(pw)
{
	var iRet = 0;
	
	if (pw.length < 8 || pw.length > 32)
	{
		messageInfo();
		iRet = 1;
	}

	if (iRet == 0)
	{
		if (!hasNumber(pw) || !hasCapital(pw) || !hasLowercase(pw) || !hasValidSpecialChar(pw)|| !hasSpecialChar2(pw))
		{
			messageInfo();
			iRet = 1;
		}
	}

	return iRet;
}*/
function validatePW(pw, user)
{
	var iRet = 0;
	if ("" == pw)
	{
		alert("<%:Please enter the new password!%>");
		iRet = 1;
	}
	else if (pw.length < 3 || pw.length > 12)
	{
		alert("<%:Invalid password!%>");
		iRet = 1;
	}
	/*else if (user == pw)
	{
		alert("<%:Invalid password!%>");
		iRet = 1;
	}*/
	return iRet;
}
function checkPW1PW2(pw1, pw2, szRet)
{
	var iRet = 0;
	if ("" == szRet)
	{
		if(pw2 != pw1)
		{
			alert("<%:Given password confirmation did not match, password not changed!%>");
			iRet = 1;
		}
	}
	return iRet;
}
function checkDefPasswd(curpw)
{
	var iRet = 0;
	var url,data;
		url='<%=luci.dispatcher.build_url("admin/system/ajax_checkDefpasswd")%>';
		data =  {curpass: curpw};
		ajax_normal(
		{
			async: false,
	        type : "GET",
	        url:url,
	        data:data,
	        error:function(){},
	        success:function(result)
	        {
				if (result.ret == "1"){
					//alert("<%:It's default password!%>");
					iRet = 1;
				}
	        }
		});

	return iRet;
}
$(function() {
    <% if uci:get("functionlist","functionlist","NOT_SUPPORT_MODIFY_USERNAME") == "1" then%>
		document.getElementById('username').style.display = "none";
    <% end %>
});
</script>
<div id="password_info" class="popbox">
    <p><%:Password must be 8-32 characters in length, with at least one uppercase letter, one lowercase letter, and one number. Allowed symbols are %>!@#$%^&()*</p>
</div>
<form name="wifi_mesh" action="<%=REQUEST_URI%>" method="post">
<input type="hidden" name="mesh_disable" value="1">
<input type="hidden" id="submitType" value="1" name="submitType"/>
<fieldset class="cbi-section">
<div id="first_setting" class="cbi-page-actions">
<table>
<% if uci:get('functionlist','functionlist','SUPPORT_IPCAM') == "1" then%>
	<tr>
		<td colspan="2" class="title"><%:Change Device Password%><br><br><%:To ensure all users have the strongest security environment, you are strongly advised to change the passwords for both admin and guess accounts.%><br><%:Note: The new password will be applied to all devices within your Mesh Network.%></td>
	</tr>
	<tr class="title-option">
	<td colspan="2"><%:ADMIN Password Setting%></td>
	</tr>	
	<tr class="title-option">
		<td style="width:50%;"><%:Username%></td>
		<td><%:admin%></td>	</tr>
	<tr class="title-option">
		<td style="width:50%;"><%:New Password%></td>
		<td><input type="password" name="admin_pw1" id="admin_pw1" maxlength="255" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('admin_pw1')" />
		</td>
	</tr>
	<tr class="title-option">
		<td style="width:50%;font-size: 16px;"><%:Verify Password%></td>		
		<td><input type="password" name="admin_pw2" id="admin_pw2" smaxlength="255" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('admin_pw2')" />
		</td>
	</tr>	
	<tr class="title-option">
	<td colspan="2"><%:GUEST Password Setting%></td>
	</tr>
	<tr class="title-option">
		<td style="width:50%;"><%:Username%></td>
		<td><%:guest%></td>	</tr>
	<tr class="title-option">
		<td style="width:50%;"><%:New Password%></td>
		<td><input type="password" name="guest_pw1" id="guest_pw1" maxlength="255" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('guest_pw1')" />
		</td>
	</tr>
	<tr class="title-option">
		<td style="width:50%;"><%:Verify Password%></td>
		<td><input type="password" name="guest_pw2" id="guest_pw2" maxlength="255" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('guest_pw2')" />
		</td>
	</tr>
<% else %>
	<tr>
		<td colspan="2" class="title"><%:Change Device Password%><img class="popper" data-popbox="password_info" src="<%=media%>/pictures/icon_info_blue.png"><br><br>
<% if uci:get("functionlist","functionlist","NOT_SUPPORT_MODIFY_USERNAME") == "1" then %>
		<%:To ensure a secure environment for all your users, we strongly advise you to change the password.%>
<% else %>
		<%:To ensure a secure environment for all your users, we strongly advise you to change the password.%>
<% end %>
			<br><br>
		</td>
	</tr>
	<tr class="title-option">
	<td colspan="2"><%:Admin Password Setting%></td>
	</tr>	
	<tr class="title-option" id="username">
		<td style="width:50%;"><%:Username%></td>
		<!--td><%:admin%></td-->
		<td><input type="text" name="admin_usr" id="admin_usr" maxlength="12" style="height:27px;" value="<%=olduser%>" disabled>
	</tr>
	<tr class="title-option">
		<td style="width:50%;"><%:New Password%></td>
		<td><input type="password" name="admin_pw1" id="admin_pw1" maxlength="32" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('admin_pw1')" />
		</td>
	</tr>
	<tr class="title-option">
		<td style="width:50%"><%:Verify Password%></td>		
		<td><input type="password" name="admin_pw2" id="admin_pw2" maxlength="32" style="height:27px;">
		<img src="/luci-static/resources/cbi/reload.gif" style="vertical-align:middle" title="<%:Reveal/hide password%>" onclick="changeInputType('admin_pw2')" />
		</td>
	</tr>	
<% end %>
</table>

</div>
</fieldset>
<div id = "next" class="cbi-page-actions">
	<input class="cbi-button cbi-button-apply" onclick="return savechanges(1)" type="submit" value="<%:Apply%>">
<% if uci:get('functionlist','functionlist','SUPPORT_MYID') == "1" then%>
	<input class="cbi-button cbi-button-apply" onclick="return savechanges(2)" type="submit" name="cbi.next" value="<%:Skip%>">
<% end %>
</div>

</form>
<%+footer%>